@-webkit-viewport {
    width: device-width
}

@-moz-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width;
    zoom: 1.0;
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

@import "./bower_components/govuk_frontend_toolkit/stylesheets/_measurements.scss";
@import "./bower_components/govuk_frontend_toolkit/stylesheets/_colours.scss";
@import "./bower_components/govuk_frontend_toolkit/stylesheets/_typography.scss";

@import "mixins";
@import "utils";
@import "base";

/***** CORE STYLES *****/


/* Maintained by us */

@import "layout/grid-flush";
@import "layout/positioning";
@import "layout/spacing";
@import "layout/widths";
@import "layout/z-index";
@import "visual/colours";
@import "visual/borders";
@import "visual/links";
@import "visual/typography";
@import "visual/lists";
@import "visual/validation";
@import "elements/images";
@import "elements/forms";
@import "elements/tables";
@import "elements/responsive-tables";
@import "elements/breadcrumbs";
@import "elements/loading";
@import "elements/checkboxes";
@import "elements/selectizeOverides";
@import "elements/tabs";
@import "elements/progress_indicator";

/***** PRINT STYLE SHEET *****/

@media print {
    @import "print";
}
