<div class="row soft">
    <div class="col-12">
        <div class="soft bg--grey-lightest border">
            <p>Header <small>(col-12)</small></p>
        </div>
    </div>
</div>
<div class="row soft">
    <div class="col-8--large">
        <div class="soft bg--grey-lightest border">
            <p>Content <small>(col-8--large)</small></p>
        </div>
    </div>
    <div class="col-4--large">
        <div class="soft bg--grey-lightest border">
            <p>Aside <small>(col-4--large)</small></p>
        </div>
    </div>
</div>
<div class="row soft">
    <div class="col-6--small col-3--large">
        <div class="soft bg--grey-lightest border">
            <p>CTA <small>(col-3--large col-6--small)</small></p>
        </div>
    </div>
    <div class="col-6--small col-3--large">
        <div class="soft bg--grey-lightest border">
            <p>CTA <small>(col-3--large col-6--small)</small></p>
        </div>
    </div>
    <div class="col-3--large col-6--small">
        <div class="soft bg--grey-lightest border">
            <p>CTA <small>(col-3--large col-6--small)</small></p>
        </div>
    </div>
    <div class="col-3--large col-6--small">
        <div class="soft bg--grey-lightest border">
            <p>CTA <small>(col-3--large col-6--small)</small></p>
        </div>
    </div>
</div>
<div class="row soft">
    <div class="col-6--medium">
        <div class="soft bg--grey-lightest border">
            <p>Complementary <small>(col-6--medium)</small></p>
        </div>
    </div>
    <div class="col-6--medium">
        <div class="soft bg--grey-lightest border">
            <p>Complementary <small>(col-6--medium)</small></p>
        </div>
    </div>
</div>
<div class="row soft">
    <div class="col-12">
        <div class="soft bg--grey-lightest border">
            <p>Footer <small>(col-12)</small></p>
        </div>
    </div>
</div>