table, .table{
    display: table;
    width:100%;   
}

.table{
    margin-top:$gutter;
}

.table .table__caption{
    
    font-weight: bold;
    text-align:left; 
        
    @include bp-medium{    
        display:none;         
    } 
}
    
thead{
   background:transparent;
}

thead td, thead th{
    background:transparent;
    color: $brand-color;
    border-bottom: 3px solid $brand-color;
    font-weight: bold;
} 


tfoot tr, .table__foot tr{

    background:$grey-3;

}

tr, .table__row{

    @extend .border--bottom;
    display: table-row;

    &:nth-child(even){

        background-color:$grey-4;

    }

}

tr.table__link{
    &:hover{
        background-color:$brand-tint !important;

        td {
            background: transparent;
        }
    }
    cursor:pointer;
}

td, .table__cell{

    display:table-cell;
    padding:($gutter/6);
}


.tableLikePair {
    border-bottom:2px solid $grey-3;
    div {
        padding:($gutter/2);
        &:first-of-type {
            font-weight:bold;
            color:$brand-color;
        }
        &.selectContainer {
            padding:($gutter/6) ($gutter*4) ($gutter/6) ($gutter/6);
            select {
                font-weight:bold;
                color:$brand-color;
            }
        }
    }
}