@import "global";
@import "fonts";
@import "flipbox";
@import "ripple";
@import "colors";
// Attempt to fix font jaggyness on windows
* {
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

// Font Variables
$roboto: 'Roboto',
Helvetica,
Arial,
sans-serif;
// Set min-height on body/html to 100%
body,
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 100%;
    color: $color-primary;
}

@include bp-medium {
    body {
        font-size: 100%;
    }
}

html {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    input,
    select,
    textarea,
    table,
    tr,
    td,
    .selectize-control *,
    *:not(.fa) {
        font-family: $roboto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-primary !important;
    }
    h1 {
        font-size: 49px;
        line-height: 56px;
    }
    .editor a,
    .link,
    .link-color {
        color: $color-primary;
        &:hover {
            color: $color-primary-dark;
        }
    }
}

a,
a h2 {
    color: #0065bd !important;
}

a:hover,
a:hover h2 {
    color: #00437e !important;
    -moz-transition: background-color .2s, color .2s;
    -o-transition: background-color .2s, color .2s;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: darken(#2b333d, 3%);
    h1 {
        float: none;
        display: block;
        .logo {
            text-indent: -9999px;
            display: block;
            height: 50px;
            width: 160px;
            margin: 0 auto;
            background: url(#{$path-assets}images/brand/logo-alt.png) center no-repeat;
            background-size: auto 22px;
        }
    }
    .menu-mobile-toggle {
        left: 0;
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        color: $color-white;
    }
    .notif-small {
        background: $color-red;
        @include rounded(30px);
        display: block;
        position: absolute;
        left: 33px;
        width: 8px;
        height: 8px;
        top: 12px;
        z-index: 30;
    }
}

@include bp-large {
    header {
        .menu-mobile-toggle,
        .notif-small {
            display: none;
        }
        h1 {
            float: left;
            .logo {
                margin: 0 0;
            }
        }
    }
}

.elip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 .sub {
    color: #444;
    font-size: 0.78em;
}

// Remove active-outline
a:focus {
    outline: none;
}

.icon-click {
    cursor: pointer;
}

td.table__link,
tr.table__link {
    background-color: $color-white;
    &:hover {
        background-color: $color-lighter-bg !important;
    }
    cursor:pointer;
}

//h4 - dullen down
h4,
legend {
    color: $color-primary;
    &:after {
        width: 170px;
        height: 3px;
        background: $color-lighter-bg;
        margin: 10px 0;
        display: block;
        text-align: left;
        content: "";
    }
}

.text-center--medium {
    h4,
    legend {
        &:after {
            margin: 10px auto;
            text-align: center;
        }
    }
}

@include bp-medium {
    .text-center--medium {
        h4,
        legend {
            &:after {
                margin: 10px 0;
                text-align: left;
            }
        }
    }
}

.loading-box {
    background: $color-white;
    color: #aaa;
    font-style: italic;
    display: block;
    position: absolute;
    top: 142px;
    bottom: 142px;
    left: 0;
    right: 0;
    span {
        display: block;
        text-align: center;
        padding: 15px 0 0;
        font-size: 14px;
    }
    &.mobile {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: none;
        margin: 0;
        background: $color-white;
        @include rounded(0);
        z-index: 301;
    }
}

.rel {
    position: relative;
    display: block;
}

.right-input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    font-size: 14px;
    color: #888;
    height: 16px;
    line-height: 16px;
    margin-top: -8px;
    cursor: pointer;
}

// Addition: Subtle BG to body
.background {
    background: #f8f8f8;
    &--white {
        background: $color-white;
    }
}

// Removing blue primary color from labels
.dateRange legend,
.form-label,
fieldset.noBorder>legend,
label {
    color: $color-primary;
    padding-bottom: 0.2em;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
}

// Addtion: rounded class + auto round on inputs
.rounded {
    @include rounded(3px);
}

.font-0 {
    font-size: 0;
}

body {
    .selectize-control {
        .selectize-input {
            border-radius: 3px !important;
            box-shadow: none;
            font-size: 1em;
            font-family: $roboto;
            padding: 0 0 0 8px !important;
            input {
                font-size: 1em;
            }
        }
    }
    .selectize-dropdown {
        .dd-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            &.active {
                background: lighten($color-secondary, 40%);
            }
        }
        .label {
            display: block;
            font-size: 13px;
            font-weight: 500;
        }
        .caption {
            font-size: 11px;
            font-style: italic;
            color: #777;
        }
        .highlight {
            color: $color-primary;
        }
    }
    .selectize-container {
        .selectize-input {
            height: 2.2em;
            line-height: 2.2em;
        }
    }
    .selectize-container {
        color: #444 !important;
        font-weight: normal !important;
        height: 2.37em;
        width: 100%;
    }
    .selectize-input {
        height: 2.37em;
        line-height: 2.37em;
        border-color: #bfc1c3;
        @include rounded(3px);
        background: $color-white !important;
    }
    .selectize-input.focus,
    .selectize-input.input-active {
        border-color: $color-focus !important;
    }
}

// A rounded class + transition for input buttons
.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
    font: 600 16px $roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 70px;
    width: 360px;
    padding: 0 12px;
    &:focus {
        outline: none;
        border-color: none $color__button--primary--hover;
    }
    &:not(.secondary) {
        @include box-shadow(2px, 2px, 2px, $color-lighter-bg, false);
        &:focus {
            border: 0;
            color: $color-white;
        }
        &:hover {
            @include box-shadow(2px, 2px, 6px, $color-lighter-bg, false);
        }
    }
    &.primary {
        background: $color__button--primary;
        &:hover {
            background: $color__button--primary--hover;
            border-color: $color__button--primary--hover;
        }
    }
    &.secondary {
        background: $color-white;
    }
    &.alt {
        background: $color-secondary;
        border-color: darken($color-secondary, 3%);
        @include box-shadow(2px, 2px, 2px, darken($color-secondary, 6%), false);
        &:hover {
            background: darken($color-secondary, 4%);
        }
    }
    &.left-button {
        @include rounded(2px 0 0 2px);
    }
    &.right-button {
        @include rounded(0 2px 2px 0);
    }
    &.middle-button {
        @include rounded(0);
    }
    &.toggle {
        font-size: 16px;
        .txt {
            font-size: 13px;
            font-size: 13px;
            display: inline-block;
            position: relative;
            top: -1px;
            padding-left: 5px;
        }
        &.first {
            border-right: 0 !important;
        }
        &.off {
            background: #eee;
            color: #444;
            border-color: #B0A9A9;
            @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0.0), false);
        }
        &.on {
            background: #eee;
            @include box-shadow(0, 0, 14px, rgba(0, 0, 0, 0.3), true);
            color: #444;
            border-color: #B0A9A9;
        }
    }
}

// Addition: Shadow class + variant
.shadow {
    @include box-shadow(3px, 3px, 3px, rgba(0, 0, 0, 0.4), false);
    &--light {
        @include box-shadow(2px, 2px, 3px, rgba(0, 0, 0, 0.08), false);
    }
    &--light--right {
        @include box-shadow(2px, -1px, 3px, rgba(0, 0, 0, 0.08), false);
    }
}

// Remove heavy outline in favour of a sublte glow
input,
input[type=checkbox],
input[type=radio],
select,
textarea {
    outline: none;
    color: $color-primary;
    border-color: $color-white;
    height: 42px;
}

input:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
select:focus,
textarea:focus {
    outline: none;
    color: $color-primary;
    border-color: $color-focus;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

//Addition: info card
.info-card {
    h4 {
        font-size: 16px;
        strong {
            color: $color-secondary;
        }
    }
    p {
        font-size: 13px;
    }
    .fmc-type {
        @include rounded(300px);
        background: $color-primary;
        color: $color-white;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
    }
}

// Addition: tag
.tag:not(.token) {
    display: inline-block;
    vertical-align: top;
    margin: 4px 4px 4px 0;
    @include rounded(3px);
    line-height: 20px;
    background: #ddd;
    color: #444;
    padding: 0 7px;
    font-size: 13px;
    text-shadow: 1px 1px 1px $color-white;
    @include box-shadow(1px, 1px, 2px, #eee, false);
}

//Addition: list complete
.list-available {
    small {
        display: block;
    }
    .status-Ready {
        color: $color-green !important;
        font-weight: 500;
        font-size: 0.87em;
    }
    .avatar {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        position: relative;
        overflow: hidden;
        display: block;
        top: 5px;
        @include rounded(300px);
        &.icon {
            background: #DC554F;
            color: $color-white;
            font-size: 28px;
            font-weight: bold;
            &.alt {
                background: #5B8930;
            }
        }
    }
    p.title {
        color: $color-primary-dark;
        font-size: 0.9em;
        margin: 0;
    }
    p.author {
        color: #666;
        font-size: 0.8em;
        font-style: italic;
        margin: 0;
    }
    p {
        font-size: 0.8em;
        line-height: 1.5em;
        margin: 10px 0 0 0;
        color: rgb(110, 110, 102);
    }
}

.list-complete {
    .icn {
        color: $color-white;
        background-color: $color-green !important;
        height: 20px;
        width: 20px;
        line-height: 20px;
        border: none;
        display: inline-block;
        @include rounded(40px);
        text-align: center;
        font-size: 14px;
        margin-right: 10px;
    }
    .line-through {
        color: #aaa;
        text-decoration: line-through;
    }
}

// Error Message styling
.error-message {
    @include rounded(3px);
    background: #FCEBEB;
    h3 {
        color: $color-red; // swtich for $color-red
        padding-bottom: 6px;
    }
    ul {
        margin-left: 15px;
        li {
            font-size: 13px;
            font-weight: 500;
            color: #444;
        }
    }
}

// Info Message styling
.info-message {
    @include rounded(3px);
    background: $color-lighter-bg;
    border-left: 3px solid $color-primary;
    padding: 15px;
    margin-top: 15px;
    h3 {
        color: $color-primary-dark;
        padding-bottom: 6px;
    }
    ul {
        margin-left: 15px;
        li {
            font-size: 13px;
            font-weight: 500;
            color: #444;
        }
    }
}

// Breadcrumbs color change for non-link
.breadcrumb-wrap {
    background: $color-white;
    padding: 5px 0;
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.05), false, 1px);
}

.breadcrumbs {
    overflow: hidden;
    height: 27px;
    li {
        line-height: 25px;
        font-size: 12px;
        color: #666;
        cursor: pointer;
        &:hover {
            color: $color-primary-dark;
        }
        a {
            font-weight: 500;
            color: #222;
            cursor: pointer;
            &:hover {
                color: $color-primary-dark;
            }
        }
        &.active {
            cursor: default !important;
            color: #666;
        }
    }
}

// Addition: renders item inoperable
.disabled {
    pointer-events: none;
    cursor: default;
    @include opacity(0.6);
    * {
        pointer-events: none;
    }
}

//Addition: required form styles
.required {
    border-left: 3px solid $color-focus;
    &--child {
        border-left: 0;
        > div a,
        .selectize-input {
            border-left: 3px solid $color-focus !important;
            @include rounded(3px 0 0 3px);
        }
    }
}

body {
    .field-errors {
        .required,
        .required--child>div a,
        .required--child .selectize-input {
            border-left: 3px solid $color-red !important;
        }
    }
}

//Addition: diff style for delete icon button
.input-icon-hint,
.input-icon {
    font-size: 20px;
    height: auto;
    position: relative;
    left: -55px;
    width: 40px;
    height: 1.85em;
    line-height: 1.85em;
    padding: 0;
    text-align: center;
    &.clickable {
        background: #ebebeb;
        @include rounded(2px);
        margin: .25em 0;
        height: 1.40em;
        line-height: 1.40em;
        left: -60px;
        color: $color-primary; // swap for primary blue
    }
}

.input-icon {
    position: absolute;
    right: 0;
    left: auto;
    cursor: pointer;
    color: $color-secondary;
    pointer-events: none;
}

//Addition: alternate blue color
.bg-brand-alt {
    background: $color-light-bg;
}

.bg-brand-light {
    background: $color-light-bg;
    position: relative;
    .head-icon {
        color: $color-primary;
        border-right: 1px solid rgba(255, 255, 255, .6);
    }
    h2.white {
        color: #252b34 !important;
    }
    p.white {
        color: #444 !important;
    }
}

.head-icon {
    font-size: 40px;
    color: $color-white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 15px;
    margin: 0 auto 15px;
    text-align: center;
    display: none;
    &.head-icon--small {
        font-size: 20px;
    }
}

//Addition: Icon Wrap
.icon-wrap {
    width: 70px;
    max-width: 70px;
    background: $color-light-bg;
    color: $color-white;
    display: block;
    text-align: center;
    @include rounded(300px);
    @include transition(all .3s ease);
    margin: 0 auto 15px auto;
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 70px;
        /* ratio of 1:1*/
    }
    &:hover {
        background: darken($color-light-bg, 15%);
        @include box-shadow(4px, 4px, 2px, $color-lighter-bg, false);
    }
    .fa {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 32px;
        width: 66px;
        height: 66px;
        line-height: 66px;
        border: 2px solid #fff;
        box-sizing: border-box;
        @include rounded(300px);
    }
}

.text-center--medium {
    text-align: center;
}

.padding-header {
    padding: 15px 0;
    p.white {
        font-size: 12px;
        margin-top: 7px;
    }
}

@include bp-medium {
    .head-icon {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding-right: 15px;
        margin: 0 15px 0 0;
        border-bottom: 0;
        padding-bottom: 0;
        float: left;
        text-align: left;
        display: block;
    }
    .text-center--medium {
        text-align: left;
    }
    .padding-header {
        padding: 20px 0;
        p.white {
            font-size: 15px;
            margin-top: 0;
        }
    }
}

//Addition: Step Bar
.step-bar {
    background: #f1f1f1;
    @include rounded(0 0 2px 2px);
}

//Addition: Filter box
.filter-box {
    .filter-box-text {
        line-height: 2.2em;
        font-size: 16px;
        color: #333;
    }
}

// Removal of massive border on table head
thead td,
thead th {
    border-bottom: 0;
}

hr {
    border-color: $color-light-bg;
}

.pointer {
    cursor: pointer !important;
}

// Table
.summary-table {
    th {
        background: 0 0;
        color: #888;
        font-size: 0.9em;
        font-weight: 400;
    }
}

.tableLikePair {
    border-bottom: 1px solid #dee0e2;
    &.row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        div:not(.pad-override) {
            padding: 9px 10px;
            div:not(.dd-item) {
                padding: 0;
            }
        }
    }
    div {
        color: #333 !important;
        font-weight: normal !important;
        padding: 0;
    }
    > div:first-child {
        &:not(.multi) {
            color: #777 !important;
            font-size: 0.9em !important;
            font-weight: 400 !important;
        }
    }
    > div:not(.pad-override) {
        padding: 9px 10px;
        div:not(.selectize-control *) {
            padding: 0 !important;
        }
    }
}

// Addition: Accordion Panels
.accordion {
    .collapsible-item {
        .title {
            font-size: 1.05em;
            @include rounded(3px);
            .icon {
                float: right;
                width: 46px;
                font-size: 17px!important;
                padding-right: 0;
                padding-left: 10px;
                text-align: center;
                display: block;
                color: #555;
                border-left: #ccc 1px solid;
            }
        }
        .body {
            padding: 0;
            .content {
                z-index: -1;
                position: relative;
            }
        }
        &.open {
            .title {
                @include rounded(3px 3px 0 0);
            }
            .body {
                overflow: visible;
                max-height: none !important;
                @include rounded(0 0 3px 3px);
                .content {
                    padding: 20px 20px 25px;
                    z-index: 10;
                }
            }
        }
    }
}

//Addition: edit info button
.edit-info {
    color: $color-primary;
    cursor: pointer;
    padding: 3px;
}

.progress-wrap {
    @include rounded(2px 2px 0 0);
    background: $color-lighter-bg;
    border-bottom: 0 !important;
    padding: 1px 30px;
    position: relative;
    top: 2px;
    margin-top: 20px;
}

.track-progress {
    padding: 0;
    font-size: 0;
    height: 4px;
    @include rounded(300px);
    margin: 60px 0 30px 0;
    background: $color-silver;
    li {
        margin: 0;
        padding: 0;
        height: 4px;
        list-style-type: none;
        display: inline-block;
        position: relative;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        color: $color-silver;
        line-height: 3em;
        vertical-align: top;
        span {
            position: relative;
            top: -40px;
            line-height: 30px;
            font-size: 12px;
            display: block;
        }
        i {
            height: 20px;
            width: 20px;
            line-height: 20px;
            border: none;
            display: block;
            @include rounded(40px);
            position: absolute;
            left: 50%;
            margin-left: -10px;
            top: 50%;
            margin-top: -10px;
        }
        &.todo {
            color: $color-gray;
            font-weight: bold;
            background: transparent;
            i {
                color: $color-white;
                background-color: $color-silver;
                &.done {
                    display: none;
                }
            }
        }
        &.done {
            color: $color-gray !important;
            font-weight: bold;
            background: $color-green !important;
            cursor: pointer;
            i {
                color: $color-white;
                background-color: $color-green !important;
                &.done {
                    display: none;
                }
            }
        }
        &.current {
            span {
                color: #333;
            }
        }
    }
}

.track-progress[data-steps="2"] li {
    width: 50%;
}

.track-progress[data-steps="4"] li {
    width: 25%;
}

.track-progress[data-steps="6"] li {
    width: 16.66666666666666666%;
}

.track-progress[data-steps="3"] li {
    width: 33.33333333333333333%;
}

@media (max-width:640px) {
    .progress-wrap {
        padding: 1px 15px;
        .track-progress {
            height: auto;
            @include rounded(300px);
            margin: 15px 0 35px;
            background: transparent !important;
            li {
                width: 100% !important;
                display: none;
                margin-bottom: 30px;
                span {
                    position: relative;
                    top: 0;
                    line-height: 30px;
                    display: block;
                    text-align: left;
                    padding-left: 30px;
                }
                i {
                    left: 0;
                    margin-left: 0;
                    top: 5px;
                    margin-top: 0;
                    text-align: center;
                }
                &.done {
                    background: transparent !important;
                }
                &.current {
                    display: block;
                }
            }
        }
    }
}

//Addition: alert boxes
.message-box {
    color: #555;
    @include rounded(3px);
    font-size: 13px;
    padding: 10px 15px;
    &.error {
        background: #ffecec;
        border: 1px solid #f5aca6;
    }
    &.success {
        background: #e9ffd9;
        border: 1px solid #a6ca8a;
    }
    &.warning {
        background: #fff8c4;
        border: 1px solid #f2c779;
    }
    &.notice {
        background: #e3f7fc;
        border: 1px solid #8ed9f6;
    }
    .link {
        cursor: pointer;
    }
    .fa {
        font-size: 20px;
        position: relative;
        top: 3px;
        &.left {
            margin-right: 12px;
        }
        &.right {
            cursor: pointer;
            font-size: 18px;
        }
    }
}

//Addition: sortable table
.selectable-rows,
.search-table {
    td {
        .fa-caret-down {
            float: right;
            color: darken($color-light-bg, 8%);
            margin-top: 5px;
            @include opacity(0.1);
        }
        &.asc {
            .fa-caret-down {
                @include opacity(1);
                @include rotate(180);
            }
        }
        &.desc {
            .fa-caret-down {
                @include opacity(1);
                @include rotate(0);
            }
        }
    }
}

.search-table {
    border: 1px solid $color-lighter-bg;
    position: relative;
    margin: 10px 0;
    width: 100%;
    &.sortable {
        thead td,
        thead th {
            cursor: pointer;
        }
    }
}

table.search-table thead tr.ismOdd {
    background: $color-white;
}

table.search-table thead tr.ismOdd {
    background: $color-white;
}

.search-table tr:nth-child(even),
.search-table tr:nth-child(even) {
    background: lighten($color-lighter-bg, 4%);
}

.search-table th,
.search-table thead td {
    background: $color-light-bg !important;
    color: $color-primary;
    border-right: 1px solid $color-white;
    padding: 5px 9px;
    font-size: 0.85em;
    line-height: 1.4em;
    text-align: left;
}

.search-table {
    tbody th {
        background: none;
    }
    th:last-child {
        border-right: 1px solid lighten($color-lighter-bg, 2%);
    }
}

.search-table th:last-child {
    border-right: 1px solid lighten($color-lighter-bg, 2%);
}

.search-table td {
    border-top: 1px solid lighten($color-lighter-bg, 2%);
    border-right: 1px solid lighten($color-lighter-bg, 2%);
    color: #444;
    padding: 5px 9px;
    vertical-align: middle;
    font-size: 0.85em;
    line-height: 1.4em;
}

.search-table td:last-child {
    border-right: 0px solid $color-white;
}

.modal-container {
    font-size: 0.8em;
    button {
        display: inline-block;
    }
}

//Modifier: button tables
.button.table-button {
    min-width: 0;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 8px !important;
    cursor: pointer;
}

//Addition: Back To Top
#backtop {
    bottom: 0;
    right: 0;
    @include opacity(0);
    @include transition(all .3s ease-out);
    position: fixed;
    z-index: 300;
    .button {
        background: #aaa;
        border: 0;
        box-shadow: none;
        font-size: 80%;
        min-width: 0;
    }
    .txt {
        font-size: 0;
    }
    &.show {
        @include opacity(1);
    }
}

@include bp-large {
    #backtop {
        bottom: 30px;
        right: 30px;
        .txt {
            font-size: 100%;
        }
        .fa {
            margin-right: 10px;
        }
    }
}

//Addition:  Table Toggle 
.table-toggle {
    display: block;
    padding: 5px;
    font-size: 13px;
    color: $color-primary;
    border: 0;
    outline: 0;
    .fa {
        font-size: 15px;
    }
    &:hover {
        &:not(.blank) {
            color: darken($color-primary, 5%);
        }
    }
    &.active {
        color: $color-primary-dark;
    }
    &.blank {
        color: #555;
        pointer: default !important;
    }
}

.radio-holder {
    margin: 0 0 0.75em 0;
    input[type="radio"] {
        display: none;
    }
    input[type="radio"] + label {
        color: $color-gray;
        font-size: 14px;
        cursor: pointer;
        margin-top: 9px;
    }
    input[type="radio"] + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        @include rounded(30px);
    }
    input[type="radio"] + label span {
        background-color: $color-gray;
        span.fa {
            display: none;
        }
    }
    &.active {
        input[type="radio"] + label span {
            background-color: $color-primary;
            span.fa {
                display: block;
                font-size: 12px;
                text-align: center;
                line-height: 21px;
                color: $color-white;
            }
        }
        input[type="radio"] + label span,
        input[type="radio"] + label span {
            -webkit-transition: background-color 0.4s linear;
            -o-transition: background-color 0.4s linear;
            -moz-transition: background-color 0.4s linear;
            transition: background-color 0.4s linear;
        }
    }
}

.juvenile-indicator {
    color: $color-red;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.tag-label {
    background: $color-primary;
    color: $color-white;
    display: inline-block;
    font-weight: 700;
    margin: 0 0 15px;
    padding: 0 10px 0 4px;
    position: relative;
    top: 4px;
    text-transform: lowercase;
    z-index: 1;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    @include rounded(0 3px 3px 0);
    .tail {
        position: absolute;
        top: 0;
        left: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17px 16px 17px 0;
        border-color: transparent $color-primary transparent transparent;
        line-height: 0px;
    }
}

@include bp-medium {
    .tag-label {
        float: right;
        margin: 0 0 20px;
        font-size: 15px;
    }
}

.page-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        //transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        //transform: none;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        //transform: none;
    }
    100% {
        opacity: 0;
        //transform: translate3d(0, 100%, 0);
    }
}

div.page-holder.ng-enter {
    z-index: 8888;
    animation-duration: 500ms;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

div.page-holder.ng-leave {
    z-index: 9999;
    animation-duration: 500ms;
    transition-timing-function: ease-out;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
}

.pt-10 {
    padding-top: 10px;
}

@mixin delay($time) {
    -webkit-animation-delay: $time;
    -moz-animation-delay: $time;
    -o-animation-delay: $time;
    animation-delay: $time;
}

.loada-box {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    div.center {
        position: relative;
        width: 100%;
        height: 100px;
        & > div {
            position: absolute;
            margin: auto;
            left: 50%;
            transform: translateX(-50%);
            top: 50%;
            //transform: translateY(-50%);
        }
    }
    span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: $color-primary;
        border-radius: 100px;
        -webkit-animation: bounce 3s infinite ease-in-out;
        -moz-animation: bounce 3s infinite ease-in-out;
        -o-animation: bounce 3s infinite ease-in-out;
        animation: bounce 3s infinite ease-in-out;
    }
    span:nth-child(1) {}
    span:nth-child(2) {
        @include delay(.5s);
    }
    span:nth-child(3) {
        @include delay(1s);
    }
    span:nth-child(4) {
        @include delay(1.5s);
    }
    span:nth-child(5) {
        @include delay(2s);
    }
    span:nth-child(6) {
        @include delay(2.5s);
    }
}

@mixin aniKeyframes() {
    50% {
        transform: translateY(-20px) scale(.5);
        background: $color-secondary;
    }
}

@-webkit-keyframes bounce {
    @include aniKeyframes();
}

@-moz-keyframes bounce {
    @include aniKeyframes();
}

@-o-keyframes bounce {
    @include aniKeyframes();
}

@keyframes bounce {
    @include aniKeyframes();
}

.category-item--card {
    background-color: $color-white;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.3);
    line-height: 21px;
    border-bottom: 0px solid #0065bd;
    position: relative;
}

.category-item--card h2 {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 13px;
}

.category-item__link {
    height: 186px;
    display: block;
    padding: 20px 15px 30px;
}

.category-item--card .category-item__link:hover {
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
}

.category-item--card .category-item__link:hover:after {
    height: 5px;
}

.category-item--card .category-item__link:after {
    background: #0065bd;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    -webkit-transition: height .2s;
    transition: height .2s;
}

.category-item__summary {
    color: #727272 !important;
}
