/////////////////
// Semantic.gs // for SCSS: http://sass-lang.com/
/////////////////

// Defaults which you can freely override
$column-width: 90px;
$gutter-width: $gutter/2;
$gutter-tight: 0px;
$columns: 12;

// Utility function - you should never need to modify this
@function gridsystem-width($columns:$columns) {
	@return ($column-width * $columns) + ($gutter-width * $columns);
}

@function gridsystem-width-tight($columns:$columns) {
	@return ($column-width * $columns) + ($gutter-tight * $columns);
}


// Set $total-width to 100% for a fluid layout
$total-width: 100%;

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// $min-width: 999999;
// $correction: 0.5 / $min-width * 100;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


//////////
// GRID //
//////////

body {
	width: 100%;
	@include clearfix();
}

@mixin row($columns:$columns) {
	display: block;
	width: $total-width*(($gutter-tight + gridsystem-width-tight($columns))/gridsystem-width-tight($columns));
	margin: 0 $total-width*((($gutter-tight*.5)/gridsystem-width-tight($columns))*-1);
	// *width: $total-width*(($gutter-tight + gridsystem-width-tight($columns))/gridsystem-width-tight($columns))-$correction;
	// *margin: 0 $total-width*((($gutter-tight*.5)/gridsystem-width-tight($columns))*-1)-$correction;
	@include clearfix();
}
@mixin column($x,$columns:$columns) {
	display: inline;
	float: left;
	width: $total-width*(((($gutter-tight+$column-width)*$x)-$gutter-tight) / gridsystem-width-tight($columns));
	margin: 0 $total-width*(($gutter-tight*.5)/gridsystem-width-tight($columns));
    padding-bottom:0;
    padding-left:$gutter-width;
    padding-right:$gutter-width;
    padding-top: 0; 
    
	// *width: $total-width*(((($gutter-tight+$column-width)*$x)-$gutter-tight) / gridsystem-width-tight($columns))-$correction;
	// *margin: 0 $total-width*(($gutter-tight*.5)/gridsystem-width-tight($columns))-$correction;
}
@mixin push($offset:1) {
	margin-left: $total-width*((($gutter-tight+$column-width)*$offset) / gridsystem-width-tight($columns)) + $total-width*(($gutter-tight*.5)/gridsystem-width-tight($columns));
}
@mixin pull($offset:1) {
	margin-right: $total-width*((($gutter-tight+$column-width)*$offset) / gridsystem-width-tight($columns)) + $total-width*(($gutter-tight*.5)/gridsystem-width-tight($columns));
}


	
/*=VARIABLES - GRID 
------------------------------------------------*/
$total-width: 100%;


/* ROW 
------------------------------------------------*/

.row{
 
    @include row;
    margin-left:-$gutter-width;
    margin-right:-$gutter-width;
    width:auto;
    
}

/* GRID - CLASSES
------------------------------------------------*/

.col-1 {		
	@include column(1);		
	}
	
.col-2 {	
	@include column(2);
	}
	
.col-3 {	
	@include column(3);
	}
	
.col-4 {	
	@include column(4);	
	}
	
.col-5 {	
	@include column(5);	
	}
	
.col-6 {	
	@include column(6);	
	}
	
.col-7 {	
	@include column(7);	
	}
	
.col-8 {	
	@include column(8);	
	}
	
.col-9 {	
	@include column(9);	
	}
	
.col-10 {	
	@include column(10);	
	}
	
.col-11 {	
	@include column(11);	
	}
	
.col-12 {	
	@include column(12);
	}

.col--first{ 
    padding-left:0;
}

.col--last{
    padding-right:0;
}
	
@include bp-small {
	
	.col-1--small {	
		@include column(1);	
		}
		
	.col-2--small {	
		@include column(2);
		}
		
	.col-3--small {	
		@include column(3);
		}
		
	.col-4--small {	
		@include column(4);	
		}
		
	.col-5--small {	
		@include column(5);	
		}
		
	.col-6--small {	
		@include column(6);	
		}
		
	.col-7--small {	
		@include column(7);	
		}
		
	.col-8--small {	
		@include column(8);	
		}
		
	.col-9--small {	
		@include column(9);	
		}
		
	.col-10--small {	
		@include column(10);
		}
		
	.col-11--small {	
		@include column(11);
		}
		
	.col-12--small {	
		@include column(12);
		}
    
    .col--first--small{ 
        padding-left:0;
    }

    .col--last--small{
        padding-right:0;
    }

}

@include bp-medium {

	.col-1--medium {	
		@include column(1);	
		}
		
	.col-2--medium {	
		@include column(2);
		}
		
	.col-3--medium {	
		@include column(3);
		}
		
	.col-4--medium {	
		@include column(4);	
		}
		
	.col-5--medium {	
		@include column(5);	
		}
		
	.col-6--medium {	
		@include column(6);	
		}
		
	.col-7--medium {	
		@include column(7);	
		}
		
	.col-8--medium {	
		@include column(8);	
		}
		
	.col-9--medium {	
		@include column(9);	
		}
		
	.col-10--medium {	
		@include column(10);
		}
		
	.col-11--medium {	
		@include column(11);
		}
		
	.col-12--medium {	
		@include column(12);
		}
    
    .col--first--medium{ 
        padding-left:0;
    }

    .col--last--medium{
        padding-right:0;
    }
		
}

@include bp-large {

	.col-1--large {	
		@include column(1);	
		}
		
	.col-2--large {	
		@include column(2);
		}
		
	.col-3--large {	
		@include column(3);
		}
		
	.col-4--large {	
		@include column(4);	
		}
		
	.col-5--large {	
		@include column(5);	
		}
		
	.col-6--large {	
		@include column(6);	
		}
		
	.col-7--large {	
		@include column(7);	
		}
		
	.col-8--large {	
		@include column(8);	
		}
		
	.col-9--large {	
		@include column(9);	
		}
		
	.col-10--large {	
		@include column(10);
		}
		
	.col-11--large {	
		@include column(11);
		}
		
	.col-12--large {	
		@include column(12);
		}

    .col--first--large{ 
        padding-left:0;
    }

    .col--last--large{
        padding-right:0;
    }
}
	
// Push

.col-push-1 {
	@include push(1);
	}

.col-push-2 {
	@include push(2);
	}

.col-push-3 {
	@include push(3);
	}

.col-push-4 {
	@include push(4);
	}

.col-push-5 {
	@include push(5);
	}	
	
.col-push-6 {
	@include push(6);
	}
		
.col-push-7 {
	@include push(7);
	}
	
.col-push-8 {
	@include push(8);
	}
		
.col-push-9 {
	@include push(9);
	}

.col-push-10 {
	@include push(10);
	}

.col-push-11 {
	@include push(11);
	}

.col-push-12 {
	@include push(12);
	}

	
	
// Push - Small

@include bp-small{

	.col-push-1--small {
		@include push(1);
		}
	
	
	.col-push-2--small {
		@include push(2);
		}
	
	
	.col-push-3--small {
		@include push(3);
		}
	
	
	.col-push-4--small {
		@include push(4);
		}
	
	
	.col-push-5--small {
		@include push(5);
		}
	
	
	.col-push-6--small {
		@include push(6);
		}
	
	
	.col-push-7--small {
		@include push(7);
		}
	
	
	.col-push-8--small {
		@include push(8);
		}
	
	
	.col-push---small9 {
		@include push(9);
		}
	
	
	.col-push-10--small {
		@include push(10);
		}
	
	
	.col-push-11--small {
		@include push(11);
		}
	
	
	.col-push-12--small {
		@include push(12);
		}
		
	}
	
// Push - Medium

@include bp-medium{

	.col-push-1--medium {
		@include push(1);
		}
	
	
	.col-push-2--medium {
		@include push(2);
		}
	
	
	.col-push-3--medium {
		@include push(3);
		}
	
	
	.col-push-4--medium {
		@include push(4);
		}
	
	
	.col-push-5--medium {
		@include push(5);
		}
	
	
	.col-push-6--medium {
		@include push(6);
		}
	
	
	.col-push-7--medium {
		@include push(7);
		}
	
	
	.col-push-8--medium {
		@include push(8);
		}
	
	
	.col-push-9--medium {
		@include push(9);
		}
	
	
	.col-push-10--medium {
		@include push(10);
		}
	
	
	.col-push-11--medium {
		@include push(11);
		}
    
    .col-push-12--medium {
		@include push(12);
		}

}
	
//Push - Large

@include bp-large{

	.col-push-1--large {
		@include push(1);
		}
	
	
	.col-push-2--large {
		@include push(2);
		}
	
	
	.col-push-3--large {
		@include push(3);
		}
	
	
	.col-push-4--large {
		@include push(4);
		}
	
	
	.col-push-5--large {
		@include push(5);
		}
	
	
	.col-push-6--large {
		@include push(6);
		}
	
	
	.col-push-7--large {
		@include push(7);
		}
	
	
	.col-push-8--large {
		@include push(8);
		}
	
	
	.col-push-9--large {
		@include push(9);
		}
	
	
	.col-push-10--large {
		@include push(10);
		}
	
	
	.col-push-11--large {
		@include push(11);
		}
	
	
	.col-push-12--large {
		@include push(12);
		}

}


//Column direction

.col-reverse{
 
    float:right !important;
    
}

// Cell Height

.cell-height{
	
	min-height:20em;
	
}

@include bp-small{

	.cell-height--small{
	
		min-height:20em;
		
	}
	
}

@include bp-medium{

	.cell-height--medium{
	
		min-height:20em;
		
	}
	
}

@include bp-large{

	.cell-height--large{
	
		min-height:20em;
		
	}
	
}

.cell-height--double{
	
	min-height:40em;
	
}

@include bp-small{

	.cell-height--double--small{
	
		min-height:40em;
		
	}
	
}

@include bp-medium{

	.cell-height--double--medium{
	
		min-height:40em;
		
	}
	
}

@include bp-large{

	.cell-height--double--large{
	
		min-height:40em;
		
	}
	
}	