//text list

.list{
	
	margin:($gutter/3) 0 0 0;
	
}

.list-content{
	
	margin:0 0 ($gutter/3) ($gutter/3);
	
}

.list-sub{
	
	margin:0 0 0 ($gutter);
	
}

.list-item{
	
	margin:($gutter/3) 0;
	
}

//List variations

.list-disc{
	
	list-style: disc;
    list-style-position: outside;
    margin-left:$gutter;
	
}

.list-circle{
	
	list-style: circle;
    list-style-position: outside;
    margin-left:$gutter;
	
}

.list-decimal{
	
	list-style: decimal;
    list-style-position: outside;
    margin-left:$gutter;
	
}

.list-roman{
	
	list-style:upper-roman;
    list-style-position: outside; 
    margin-left:$gutter;
	
}

//Definition List items

.list-definition-term{
	
	font-weight: bold;
	margin:($gutter/3) 0 0 0;
	
}

.list-definition-description{
	
	margin:0;
	
}