<h2 class="giga">Text Input</h2>

<hr/>

<div class="editor">
    <div class="row">

        <div class="col-12--medium">

            <h4>Text Box & angular atributes</h4>
                <div class="row">
                <div class="col-4--medium">
                    <p>
                        Input box using angular 1.x attributes:
                    </p><ol>
                        <li>ng-model: describes the model that the component uses</li>
                        <li>ng-class: allows for css classes to be added/removed depending
                         on scope state</li>
                        <li>ng-disabled: disables/enables the input depending on scope state</li>
                    </ol>  
 
                    </div>  
                     <div class="col-4--medium">
                   <input type="text" id=""/>
                   <label for="ngdis">With ng-class set as {required}</label>
                    <input type="text" id="ngclass" ng-class="{'required' : true}"/>
                    <label for="ngdis">With ng-disabled set as true</label>
                    <input type="text" id="ngdis" ng-disabled="true"/>
               </div>
               
</div>   
            <div class="row soft--top">
                    <div class="col-8--medium">
                    <pre class="flush"><code class="language-markup" ss-prism type="true"><input type="text" id="" ng-model="" ng-class="{'class to add' : if this is true}" ng-disabled="" /></code></pre>
                    </div>
          

            </div>
        </div>

    </div>

</div>
