@import "../../../assets/sass/brand/_global";
//Addition: Back To Top
#back-to-top {
    top: 50px;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    text-align: center;
    @include opacity(0);
    @include transition(all .3s ease-out);
    position: fixed;
    z-index: 300;
    .button {
        background: rgba(0, 0, 0, 0.7);
        border: 0;
        box-shadow: none;
        font-size: 80%;
        min-width: 0;
        display: block;
        width: 100%;
        @include rounded(300px);
        .fa {
            margin-right: 10px;
        }
    }
    &.show {
        @include opacity(1);
    }
}

@include bp-large {
    #back-to-top {
        .txt {
            font-size: 100%;
        }
    }
    body {
        #back-to-top {
            margin-left: 60px
        }
        &.minify {
            #back-to-top {
                margin-left: -25px;
            }
        }
    }
}
