<h2 class="giga">Dropdown</h2>

<hr/>

<h3 class="heading mega">Drop Down</h3>
  
<div class="example">

    <label>Dropdown</label>
    <select id="dropdown" name="basic">  
        <option value="0">Select One</option>  
        <option value="1">Option 1</option>  
        <option value="2">Option 2</option>  
        <option value="3">Option 3</option>  
    </select>

</div>

<div id="drop_down_tab">  
    <ul>  
        <li><a href="#dropdown_xhtml">XHTML</a></li>  
        <li><a href="#dropdown_java">Java</a></li>
        <li class="pull-right"><a href="#dropdown_primefaces">Primefaces Reference</a></li>
    </ul>  
    <div>  
        <div id="dropdown_xhtml">  
<pre><code class="line-numbers language-markup"><script type="prism-html-markup">
<p:outputLabel for="dropdown" value="Dropdown" />
<p:selectOneMenu id="country" value="#{dropdownView.country}">
    <f:selectItem itemLabel="Select Country" itemValue="" noSelectionOption="true" />
    <f:selectItems value="#{dropdownView.countries}" />
</p:selectOneMenu>
</script></code></pre>  
        </div>  
        <div id="dropdown_java">  
<pre><code class="line-numbers language-markup"><script type="prism-html-markup">
package org.primefaces.showcase.view.ajax;
 
import java.io.Serializable;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.PostConstruct;
import javax.faces.application.FacesMessage;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ViewScoped;
import javax.faces.context.FacesContext;
 
@ManagedBean
@ViewScoped
public class DropdownView implements Serializable {
     
    private Map<String,Map<String,String>> data = new HashMap<String, Map<String,String>>();
    private String country; 
    private String city;  
    private Map<String,String> countries;
    private Map<String,String> cities;
     
    @PostConstruct
    public void init() {
        countries  = new HashMap<String, String>();
        countries.put("USA", "USA");
        countries.put("Germany", "Germany");
        countries.put("Brazil", "Brazil");
         
        
    }
 
    public Map<String, Map<String, String>> getData() {
        return data;
    }
 
    public String getCountry() {
        return country;
    }
 
    public void setCountry(String country) {
        this.country = country;
    }
 
    public String getCity() {
        return city;
    }
 
    public void setCity(String city) {
        this.city = city;
    }
 
    public Map<String, String> getCountries() {
        return countries;
    }
 
    public Map<String, String> getCities() {
        return cities;
    }
 
    public void onCountryChange() {
        if(country !=null && !country.equals(""))
            cities = data.get(country);
        else
            cities = new HashMap<String, String>();
    }
     
    public void displayLocation() {
        FacesMessage msg;
        if(city != null && country != null)
            msg = new FacesMessage("Selected", city + " of " + country);
        else
            msg = new FacesMessage(FacesMessage.SEVERITY_ERROR, "Invalid", "City is not selected."); 
             
        FacesContext.getCurrentInstance().addMessage(null, msg);  
    }
}
</script></code></pre>  
        </div>  
        <div id="dropdown_primefaces">  
            <a href="http://www.primefaces.org/showcase/ui/ajax/dropdown.xhtml" class="reference-link flush">Primefaces reference</a>
        </div>  
    </div>  
</div>

        </div>
